@import "./material-icons.css";
@import "./style/theme.css";

/** Global styles **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

menu {
  list-style: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./icons/MaterialIcons-Regular.ttf) format('truetype');
}

/** Layout **/

#mainLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em min-content 1fr;
  grid-template-areas:
    "top"
    "side"
    "canvas";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media all and (orientation:portrait) {

  /* Style adjustments for portrait mode goes here */
  #mainLayout {
    grid-template-columns: 1fr;
    grid-template-rows: 2em min-content 1fr;
    grid-template-areas:
      "top"
      "side"
      "canvas";
  }
}

@media all and (orientation:landscape) {

  /* Style adjustments for portrait mode goes here */
  #mainLayout {
    grid-template-rows: 2em 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "top top"
      "side canvas";
  }
}

#topMenu {
  grid-area: top;
}

#mainContainer {
  grid-area: canvas;
}

#layersMenu {
  grid-area: side;
}


/** Top Controls Styling **/
#topMenu {
  display: flex;
  gap: 5px;
  align-items: center;
  background: rgb(160, 160, 160);
  background: linear-gradient(0deg, rgba(160, 160, 160, 1) 0%, rgba(240, 240, 240, 1) 15%, rgba(255, 255, 255, 1) 50%, rgba(240, 240, 240, 1) 85%, rgba(160, 160, 160, 1) 100%);
}

/** Canvas Styling **/

#canvas {
  position: relative;
  border: 1px solid black;
  background-color: #fcfcfb;
  opacity: 1;
  background-image: radial-gradient(ellipse farthest-corner at 10px 10px, #F9F8F4, #F9F8F4 50%, #fcfcfb 50%);
  background-size: 10px 10px;
  width: 100%;
  height: 100%;
}

#canvas,
#canvas canvas {
  user-select: none;
  touch-action: none;
}

#canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/** side menu **/

#layersMenu {
  position: relative;
  padding: 0px;
}

#layersMenu details {
  position: relative;
  overflow: visible;
}

#layersMenu details menu {
  position: absolute;
  z-index: 500;
  max-width: 100vw;
  max-height: 100vh;
}


#layersMenu menu {
  overflow: scroll;
  display: flex;
  background: aliceblue;
  border: 1px inset grey;
  padding: 5px;
  margin-top: 5px;

}

#layersMenu li {
  list-style: none;
  max-width: 200px;
  display: inline-block;
}

@media all and (orientation:portrait) {

  /* Style adjustments for portrait mode goes here */
  #layersMenu menu {
    flex-direction: row;
  }
}

@media all and (orientation:landscape) {

  /* Style adjustments for portrait mode goes here */
  #layersMenu menu {
    flex-direction: column;
  }
}